<h3>this is crypto page</h3>


{{#each data}}

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>market cap</th>
    <th>24 hour trading</th>
    <th>volume</th>
    <th>circulating supply</th>
    <th>max supply</th>
    <th>total supply</th>
    
  </tr>
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.current_price}}</td>
    <td>{{this.market_cap}}</td>
    <td>{{this.price_change_percentage_24h}}</td>
    <td>{{this.}}</td>
    <td>{{this.circulating_supply}}</td>
    <td>{{this.max_supply}}</td>
    <td>{{this.total_supply}}</td>
  </tr>
</table>


{{/each}}