<table class="table">

<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24Hr Change</th>
      <th scope="col">info</th>
      <th scope="col">add</th>

    </tr>
  </thead>

  </table>

{{#each data}}
<table class="table">
  
  <tbody>
   <tr>
    <td>{{this.market_cap_rank}}</td>
    <td>{{this.name}}</td>
    <td>{{this.current_price}}</td>
    <td>{{this.price_change_percentage_24h}}</td>
    <td><a href="/crypto-info/{{this.id}}">info</a></td>
    <td><a href="/user/{{this.id}}">add</a></td>

  </tr>
    
  </tbody>
</table>

{{/each}}
