
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Price</th>
    <th>24Hr Change</th>
    <th></th>
  </tr>
  <tr>
    <td>{{this.market_cap_rank}}</td>
    <td>{{this.name}}</td>
    <td>{{this.current_price}}</td>
    <td>{{this.price_change_percentage_24h}}</td>

  </tr>
</table>
<a href="/crypto-info/{{this.id}}">info</a>



{{#each data}}
<div class="container">
	
	<div class="table">
 		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Rank</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Name</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Price</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">24Hr Change</a></div>
			
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">{{this.market_cap_rank}}</div>
				<div class="table-data">{{this.name}}</div>
				<div class="table-data">{{this.current_price}}</div>
				<div class="table-data">{{this.price_change_percentage_24h}}</div>
				
			</div>
			
			
		</div>	
	</div>
</div 

{{/each}}