
  <table cellspacing="0" class="port-table">
    <tr class="port-rows">
      <th class="table-logo"></th>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>24h Change</th>
      <th>info</th>
      <th>add</th>
    </tr>
  
    {{#each data}}
    <tr class="port-rows">
      <td><img src="{{image}}" alt="crypto-icon"></td>
      <td>{{this.market_cap_rank}}</td>
      <td>{{this.name}}</td>
      <td>{{this.current_price}}</td>
      <td>{{this.price_change_percentage_24h}}</td>
      <td><a href="/crypto-info/{{this.id}}">info</a></td>
      <td><a href="/crypto-add/{{this.id}}">+</a></td>
    </tr
    {{/each}}
  </table>
</div>
