<h3>{{user.username}}</h3>


<a href="/">Return</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Market Cap</th>
    <th>24 Hour Trading</th>
    <th>Volume</th>
    <th>circulating Supply</th>
    <th>Max Supply</th>
    <th>Total Supply</th>
    <th>holdings</th>
  </tr>

<tr>
    

    {{#each coinCheck}}
  
    
    <td>{{name}}</td>
    <td>{{current_price}}</td>
    <td>{{market_cap}}</td>
    <td>{{price_change_percentage_24h}}</td>
    <td>{{total_volume}}</td>
    <td>{{circulating_supply}}</td>
    <td>{{max_supply}}</td>
    <td>{{total_supply}}</td>
    <td>{{quantity}}</td>
    
    <td><a href="/crypto-info/{{this.id}}">Info</a></td>

    <td>
      <a href="crypto-update/{{this.id}}">Update</a>
    </td>

    <td>
      <form action="/portfolio/delete/{{id}}" method="post">
        <button>Remove</button>
      </form>
    </td>

  </tr>

  

{{/each}}
</table>